.forecastPanel {
  display: flex;
  gap: 5px;
  justify-content: center;

  height: fit-content;
  width: 100%;

  flex-wrap: wrap;
  flex-basis: 16%;

  color: wheat;
}
.weatherCard {
  flex: 17.6%;
  width: fit-content;
  height: min-content;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  background: linear-gradient(123deg, rgb(11, 28, 172), rgb(108, 6, 190));
  border-radius: 8px;
  margin-top: 18px;
  margin-right: 8px;
  padding: 0vw 2vw;
  backdrop-filter: blur(10px);
}
.forecastBrief {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.forecastImage {
  margin-bottom: -2vw;
}
.forecastTemp {
  display: flex;
  flex-flow: column;
  line-height: 2px;
  align-items: center;
  height: fit-content;
}
.forecastTemp > p:first-child {
  font-size: 20px;
  font-weight: bold;
}
