.advancedDataPanel {
  position: absolute;
  top: 5%;
  left: 5%;

  display: flex;
  align-items: center;
  flex-flow: column;

  height: 76vh;
  width: 68vw;
  padding: 3rem;

  color: wheat;
}
