.homePanel {
  position: relative;
  width: 70vw;
  height: 100vh;

  color: wheat;

  background-color: #13141f;
  border-radius: 0 10px 10px 0;
  border-right: 4px #9c69cf solid;

  padding-left: 10vw;

  z-index: 1;

  transition: all ease 1s;
}
.homePanelHovered {
  left: -100px;
}
.infoBox {
  position: absolute;
  top: 20%;
  left: 20%;

  width: fit-content;
  border-left: solid 1px wheat;
  padding-left: 1em;
}

.logo {
  position: absolute;
  top: 3%;
  left: 50%;

  height: 40px;
}

.basicTextGray {
  color: gray;
  font-size: 3em;
  margin-left: 1vw;
}
.temperatureText {
  color: wheat;
  font-size: 8em;
}
.locationText {
  color: wheat;
  font-size: 3em;
}

.buttonSlider {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);

  background-color: #6c2aaf;
  border: none;
  border-radius: 4px;
  padding: 10vh 10px;

  cursor: pointer;

  transform-origin: top;
  transition: ease-out 0.2s all;
}
/* 
.buttonSlider:hover {
  background-color: #11121f;
  outline: solid 1px wheat;

  transform: rotateY(180deg) translateY(-50%) perspective(500px);
} */

.buttonSlider > svg {
  filter: invert(100%);
}

.clippy {
  position: absolute;
  left: 2%;
  top: 2%;
  display: flex;
  width: 7vw;
  height: 7vw;
  border-radius: 10vw;
  margin: auto;
  background-color: #6c2aaf;
  color: transparent;
  pointer-events: none;

  clip-path: polygon(
    100% 100%,
    53% 43%,
    0 100%,
    57% 54%,
    0 0,
    44% 59%,
    100% 0,
    40% 48%
  );
  transform: rotate(0deg);
  animation: clipper 5s infinite ease;
  animation-fill-mode: backwards;
}

@keyframes clipper {
  0% {
    clip-path: polygon(
      100% 100%,
      53% 43%,
      0 100%,
      57% 54%,
      0 0,
      44% 59%,
      100% 0,
      40% 48%
    );
    transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    clip-path: polygon(
      100% 0,
      53% 43%,
      100% 100%,
      57% 54%,
      0 100%,
      44% 59%,
      0 0,
      40% 48%
    );
    transform: rotate(60deg);
    opacity: 0.5;
  }
  50% {
    clip-path: polygon(
      0 0,
      53% 43%,
      100% 0,
      57% 54%,
      100% 100%,
      44% 59%,
      0 100%,
      40% 48%
    );
    transform: rotate(120deg);
    opacity: 1;
  }
  75% {
    clip-path: polygon(
      0 100%,
      53% 43%,
      0 0,
      57% 54%,
      100% 0,
      44% 59%,
      100% 100%,
      40% 48%
    );
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    clip-path: polygon(
      100% 100%,
      53% 43%,
      0 100%,
      57% 54%,
      0 0,
      44% 59%,
      100% 0,
      40% 48%
    );
    transform: rotate(272deg);
    opacity: 0;
  }
}
